*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}


@media screen and (max-width: 1400px){
/*POSITIONING AND STYLE*/
body{
    padding: 80px;
    background-image: url(./social-proof-section-master/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

main{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    gap: 150px;
    align-items: center;
}

.scale{
    display: inline-block;
    font-size: 45px;
}

.details{
    max-width: 400px;
    margin-top: 15px;
    line-height: 23px;
}

.ratings{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rate{
    display: flex;
    width: 350px;
}

.r{
    margin-left: 15px;
}

img{
    border-radius: 50%;
    display: block;
}

.bottom{
    display: flex;
    gap: 20px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.accupation{
    margin-top: 5px;
}

footer{
    margin-top: 30px;
}

/*COLORS*/

h1, .rate{
    color: hsl(300, 43%, 22%);
}

.rate{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
}

.rate:nth-child(2){
    margin-left: 20px;
}

.rate:nth-child(3){
    margin-left: 40px;
}

.post{
    background: hsl(300, 43%, 22%);
    color: white;
}

.post:nth-child(2){
    position: relative;
    top: 30px;
}

.post:nth-child(3){
    position: relative;
    top: 60px;
}

.accupation{
    color: hsla(333, 80%, 67%, 0.63);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
}

@media screen and (max-width: 900px){

    body{
        padding: 10px;
    }

    main{
        gap: 30px;
    }

    .top{
        flex-direction: column;
        gap: 40px;
    }

    h1, .details{
        text-align: center;
    }
    
    .bottom{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

     .post:nth-child(2), .post:nth-child(3){
        top: 0;
    }

    .rate:nth-child(2),.rate:nth-child(3){
        margin-left: 0;
    }
}